header{
    background:  #24272E;
    padding: 20px;
}

header > h1{
    color: white;
    text-align: center;
    font-family: Asap, sans-serif;
}

#meme-image{
    background: #f5f7f6;
    padding: 20px;
    border: 2px solid lightgray;

}

#meme-image > img{
    display: block;
    margin-left: auto;
    margin-right: auto;

    /*    width: 40%;*/
}

#image-input{
    background: #f5f7f6;
    padding: 20px;
    border: 2px solid lightgray;
}

#text-input{
    background: #f5f7f6;
    padding: 20px;
    border: 2px solid lightgray;
    align-content: center;
}

#generate-button{
    background: #f5f7f6;
    padding: 20px;
    border: 2px solid lightgray;

}

#generate-buttom > button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}